{% extends 'base.html.twig' %}


{% block title %}Séance - Medimancie{% endblock %}

{% block head %}
    <meta name="description" content="Découvrez nos séances individuelles de Medimancie, une pratique spirituelle innovante associant
                             la cartomancie et la méditation. Dans un environnement laïque et bienveillant, notre medimancienne expérimentée
                             vous guidera vers l’équilibre émotionnel et la guérison intérieure pour votre bien-être et votre développement personnel.
                             Réservez dès maintenant votre séance chez @Medimancie pour découvrir notre tarification compétitive et nos produits utilisés.
                             En tant que partenaire de FNAC, nous sommes fiers de proposer notre méthode unique de Medimancie.
                             Rejoignez notre communauté dédiée au bien-être et au développement personnel avec @Medimancie et consultez les 
                             avis de nos clients satisfaits.">
    <meta property="og:title" content="Séance - Medimancie">
    <meta property="og:description" content="Découvrez nos séances individuelles de Medimancie, une pratique spirituelle innovante associant
                             la cartomancie et la méditation. Dans un environnement laïque et bienveillant, notre medimancienne expérimentée
                             vous guidera vers l’équilibre émotionnel et la guérison intérieure pour votre bien-être et votre développement personnel.
                             Réservez dès maintenant votre séance chez @Medimancie pour découvrir notre tarification compétitive et nos produits utilisés.
                             En tant que partenaire de FNAC, nous sommes fiers de proposer notre méthode unique de Medimancie.
                             Rejoignez notre communauté dédiée au bien-être et au développement personnel avec @Medimancie et consultez les 
                             avis de nos clients satisfaits.">
    <meta name="keywords" content="Guérison intérieur, équilibre émotionnel, tarification séance, avis clients, présentation produit">
{% endblock %}




{% block body %}


    <main>
        <!--SECTION 1 PARTIE Arguments avant présentation facturation-->
        <section class="Arguments_ventes">
            <Div class="profil_3">
                <a href="{{ path('app_contact') }}"><img src="{{ asset('/assets/img/Logo photo profil.jpg ')}}" alt="Logo photo de profil de Medimancie"></i></a>
                    </Div>
            
                    <div class="photo_menu_seances">
                        
                 
                    <ul class="titre_sommaire">
                    <li><h1 id="sommaire">Sommaire</h1></li> 
                    <li><h1><a href="#les_seances_en_detail">Les séances en détail ?</a></h1></li>
                    <li><h1><a href="#pourquoi_consulter">Pourquoi consulter ?</a></h1></li>
                    <li><h1><a href="#quand_consulter">Quand consulter ?</a></h1></li>
                    <li><h1><a href="#temoignages_des_membres">Témoignages des membres ?</a></h1></li>
                    <li><h1><a href="#tarification">La tarification ?</a></h1></li>
                    <li><h1><a href="#les_oracles_utilisés">Les oracles utilisés</a></h1></li>
                    </ul>
                   
                    </div>

         <!--SECTION 1 PARTIE Arguments DETAILS DES SEANCES ?-->           
                    <div class="containerles_seances_en_detail" id="les_seances_en_detail" >
                        <div class="photoles_seances_en_detail" id="les_séances_en_details">
                        <a href=""><img src="{{ asset('/assets/img/Photo Les Séances en détail.jpg ')}}" class="photodetails_desseances"
                            alt="Photo détails des séances"></a>   
                        </div>   
                        
                        <div class="reponseles_seances_en_detail">
                            <p>   
                                <h2 class="ouverte_atous">Elles sont ouvertes à tous ! <br></h2>
                                <br>   
                                <h2 class="minutegratruite"> Le sujet du jour Medimancie 1 minutes Gratuite !</h2>   
                            
                                    Sur Tik Toc principalement, YouTube je vous propose chaque semaine des sujets de méditations
                                    du jour correspondant au tirage de l’oracle du Tao à la date indiqué avec l’attention qu’il
                                    nous soit utile pour nous tous en général. Cela nous indique la direction général de l’énergie
                                    et ce dont à quoi il serait bon de méditer pour le bien de tous. <br>
                                    <br>
                                    Chaque semaine une séance de Medimancie en visioconférence et en présentiel pour les membres.
                                    1 h à 2 h !
                                    Ce sont des séances de medimancie qui sont organisées en groupe une fois par semaine sur Zoom
                                    ou en atelier suivant des heures de rendez-vous proposé. La séance comprend un temps de lecture
                                    de carte pour la semaine à venir avec des exercices de méditation, des explications et un temps
                                    pour répondre aux questions des membres. <br>
                                    <br>
                                    Chaque semaine  des séances individuels 
                                    Sur rendez-vous suivant planning en vioconférence ou en présentiel .
                            </p>
                        </div>    
                    
                    </div>
                    

          <!--SECTION 1 PARTIE Arguments POURQUOI Consulter ?-->          



                    <div class="containerpourquoi_consulter" id="pourquoi_consulter" >
                        <div class="photopourquoi_consulter">
                        <a href=""><img src="{{ asset('/assets/img/Photo Pourquoi consulter.jpg ')}}" class="photopourquoi_consulter"
                            alt="Photo pourquoi consulter ?"></a>   
                        </div>   
                        
                        <div class="reponsepourquoi_consulter">
                            <p>   
                                Depuis environ 3000 ans, les gens consultent le Yi King, le livre
                                 des transformations pour les aider à découvrir le sens de leur expérience,
                                  à mettre leurs actions en harmonie avec leur objectif sous jacent et surtout
                                   à construire une base de conscience confiante pour leurs choix.
                                Au fil des millénaires, à mesure que la tradition du Yi King s’est enrichie
                                et approfondie, les sujets sur lesquels nous consultons ont peut être un peu changé,
                                 mais le moment de la consultation est a peu près la même.

                            </p>
                        </div>    
                    
                    </div>

        <!--SECTION 1 PARTIE Arguments QUAND Consulter ?-->

                    <div class="containerquand_consulter" id="quand_consulter" >
                        <div class="photoquand_consulter">
                        <a href=""><img src="{{ asset('/assets/img/Photo quand consulter.jpg ')}}" class="photoquandconsulter"
                            alt="Photo quand consulter ?"></a>   
                        </div>   
                        
                        <div class="reponsequand_consulter">
                            <p>   
                                Ce sont les moments où vous tournez en rond, coincé et frustré par toutes 
                                les choses que vous ne pouvez pas voir ou ne comprenez pas. Vous pouvez y
                                reflechir encore et encore, les ‘journaliser’, recueillir des avis… rien ne
                                vous sort du contexte pour avancer sereinement. <br>
                                Comment pouvez-vous avoir confiance dans le choix d’un chemin à parcourir,
                                si vous n’êtes pas tout à fait sûr de voir où vous en êtes ?<br>
                                <br>
                                Comprenez seulement où vous en êtes maintenant et vous redécouvrirez votre pouvoir
                                de faire des changements. C’est le cœur de la divination du Yi King. <br>
                                Un fois que vous pouvez vraiment voir dans le moment présent, toutes ses possibilités
                                s’ouvrent devant vous et vous êtes libre de créer votre avenir. <br>
                                <br>
                                Medimancie propose une gamme de programme dans une variété de formats pour s’adapter 
                                à l’horaire, aux besoins et à l’expérience de méditation de chacun quelque soit votre
                                point de départ. <br>
                                <br>
                                <a href="#sommaire">Retour au sommaire</a>

                            </p>
                        </div>    
                        <div class="fleche">
                            <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
                           </div>
                    </div>

           <!--SECTION 1 PARTIE Témoignages des membres-->          
                     <div class="titre_temoignages_des_membres">
                        <h1 class="temoignages_des_membres" id="temoignages_des_membres">Témoignages des membres ?</h1>
                    </div>
                        
                    <div class="temoignages_avatar1">
                            <div class="gauche">
                                <a href="">
                                    <img src="{{ asset('/assets/img/avatar jaques.jpg ')}}">
                                </a> <br>
                                <P class="texte_bas_avatar1">
                                  Jacques D. <br>
                                  Membre depuis B <br>
                                  le xx/xx/xxxx </P>  
                            </div>
                            <div class="droite">
                                <h1 class="titre_milieu_avatar1">Des séances qui font du bien !</h1> 
                                <p  class="texte_milieu_avatar1">Déposé le xx/xx/xxxx                                 <br>
                                Les séances sont super, je recommande pour une pratique réguliaire.
                                </p>
                            </div>
                           
                           
                    </div>

                    <div class="temoignages_avatar2">
                         <div class="gauche">
                            <a href=""><img src="{{ asset('/assets/img/avatar mounia.jpg ')}}">
                            </a><br>
                            <P class="texte_bas_avatar2">
                                Mounia B <br>
                                Membre depuis <br>
                                le xx/xx/xxxx <br>
                        </div>
                        <div class="droite">
                            <h1 class="titre_milieu_avatar2">Super contente!</h1> 
                            <p  class="texte_milieu_avatar2">Déposé le xx/xx/xxxx                                 <br>
                                Super, répond vraiment à mes attentes spirituel,
                                j’apprends à méditer plus facilement quotidiennement.
                                Très bon complément avec mes séances de yoga !
                            </p>
                        </div>
                            
                        
                    </div>

                    <div class="temoignages_avatar3">
                        <div class="gauche">
                            <a href="">
                                <img src="{{ asset('/assets/img/avatar Doussou.jpg ')}} ">
                                </a><br>
                           <P class="texte_bas_avatar3">
                            Doussou 9 <br>
                            Membre depuis <br>
                             le xx/xx/xxxx <br>
                       </div>
                       <div class="droite">
                           <h1 class="titre_milieu_avatar3">Belle découverte </h1> 
                           <p  class="texte_milieu_avatar3">Déposé le xx/xx/xxxx                                 <br>
                            Je découvre chaque semaine des pistes d’évolutions pour
                             mon personal growth.
                            Les séances en groupe sont génial et les échanges amicaux !
                           </p>
                       </div>
                           
                       
                   </div>

                   <div class="temoignages_avatar4">
                    <div class="gauche">
                            <a href=""><img src="{{ asset('/assets/img/avatar Hans Li.jpg ')}}">
                            </a><br>
                       <P class="texte_bas_avatar4">
                        Hans Li <br>
                        Membre depuis <br>
                        le xx/xx/xxxx <br>
                   </div>
                   <div class="droite">
                       <h1 class="titre_milieu_avatar4">Toujours apaisant</h1> 
                       <p  class="texte_milieu_avatar4">Déposé le xx/xx/xxxx                                 <br>
                        Je ressorts toujours apaisé des séances,
                        c’est un havre de paix.
                       </p>
                   </div>
                       
                   
               </div>  
               <div class="fleche">
                <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
               </div>          
                
        </section>
        





        <!--SEXTION 2 PARTIE Facturation et achat-->
        
        <section class="facturation">

            <div class="titre_tarification">
           <h1 class="tarification" id="tarification">La tarification ?</h1>
           </div>
           
        <div class="tarification_details">
            <h1 class="titre_tarification_des_seances">LA TARIFICATION DES SEANCES  SONT :</h1>
            
            <div class="colonne_gauche">
                <hr>
                <h2 class="titre_noir">Soit par abonnement</h2> <br>
                <br>
                <br>
                <a href="{{ path('app_precommande') }}"><img src="{{ asset('/assets/img/Bouton Abonnement 450€.jpg ')}}" alt="Cliquez sur bouton abonnement annuel 450€" class="boutonseances_abonnement450" ></a>     
                
                    <br><br><br><br><br><br><br>
                   
                 <hr>   
                <h2 class="titre_noir">Soit au tarif à l’unité.</h2>
                <br>
                <br>
                <a href="{{ path('app_precommande') }}"><img src="{{ asset('/assets/img/Bouton séance individuel 150€.jpg ')}}" alt="Cliquez sur bouton seance individuel 150€" class="boutonseances_individuel150" ></a>     
                <br><br><br><br><br><br><br> <br>
                <hr>
            </div>     

            <div class="colonne_droite">
                <p> 
                <h2 class="titre_noir">Par abonnement</h2>          
                    L’abonnement annuel est de 650€ pour les membres. 
                    Comprenant: <br>
                    Accès à tous les programmes en groupe en visioconférence
                    ou en présentiel, une fois par semaine. Inscriptiion suivant
                    planning. <br>
                    Les rediffusions en vidéo (utile en cas de non disponibilité)
                    Deux séances personnalisés.
                <h2 class="titre_orange">Le règlement ?</h2>   
                    En cliquant sur les onglet abonnement bleue vous serez dirigé
                    vers un formulaire de contact pour vous inscrire en tant que
                    membre. <br> 
                    Ensuite le règlement est à effectuer sur le site, ou en
                    numéraire directement à Cathy lors d’un rendez-vous à 
                    l’adresse de Medimancie. <br>
                    Votre validation se fera une fois que le montant de votre
                    facture sera réglé.
                    <br><br><br>
                    
                <h2 class="titre_noir">Au tarif à l’unité ?</h2>        
                    Une séance individuel dure 1 heure au tarif de 150 €
                     en présentiel ou visio. <br>
                    <br>
                    Une séance de groupe dure deux heures au tarif de 60€ 
                    par personne pour un groupe de cinq personnes. 
                <h2 class="titre_orange"> Le règlement ?</h2>   
                    En cliquant sur les onglet abonnement orange  vous serez
                    dirigé vers un formulaire de contact pour vous inscrire
                    en tant que membre. <br> 
                    Ensuite le règlement est à effectuer
                    sur le site, ou en numéraire directement à Cathy lors d’un
                    rendez-vous à l’adresse de Medimancie. <br>
                    Votre validation se fera une fois que le montant de votre 
                    facture sera réglé.
                    </p>
            </div>
        </div>

        <!--SEXTION 2 PARTIE ORACLES lien vente-->


        <div class="oracles_utilisés">
            <h1 id="les_oracles_utilisés" 
            class="titre_oracles_utilisés">
            Les Oracles utilisés lors des séances de médimancie </h1>
            <h3 class="soustitre_oracles">L’achat des oracles n’est pas necessaire lors des séances</h3>
        
        <div class="galerie">
            <div class="oracle_tao">
                <a href="https://livre.fnac.com/a1597763/Padma-Deva-Oracle-Tao#omnsearchpos=1">
                    <img src="{{ asset('/assets/img/Jeu de carte Oracle Tao.jpg ')}}" alt="En vente à la fnac Jeu de carte Oracle Tao"></a>
                <h3 class="Prix">Prix 21.50 €</h3>
                <p class="produits">Oracle du Tao</p>
                <h3 class="lien_fnac"> Disponible à la fnac</h3>
            
            </div>
          
            <div class="livre_yiking">
                <a href="https://livre.fnac.com/a120620/Richard-Wilhelm-Yi-King-Le-livre-des-transformations#int=S:Suggestion|NonApplicable|NonApplicable|120620|BL0|L1">
                    <img src="{{ asset('/assets/img/Livre Yi King.jpg ')}}" alt="En vente à la fnac Livre des transformation Yi King"></a>
                <h3 class="Prix">Prix 22.00 €</h3>
                <p class="produits">livre du Yi King</p>
                <h3 class="lien_fnac">Disponible à la fnac</h3>
            </div>
            
            
            <div class="oracle_manga">
                <a href="https://www.fnac.com/SearchResult/ResultList.aspx?SCat=0&Search=oracle+astral+manga&sft=1&sa=1">
                    <img src="{{ asset('/assets/img/jeu de carte oracle astal manga.jpg ')}}" alt="En vente à la fnac Jeu de carte Oracle Astral Manga"></a>
                <br> <br>
                <h3 class="Prix">Prix 19.90 €</h3></h3>
                <p class="produits">Oracle Astral Manga</p>
                <h3 class="lien_fnac">Disponible à la fnac</h3>  
            </div>

        </div>    
        </div>
         
           
       </section>
       



        
   
    <div class="fleche">
     <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
    </div>
    </main>





{% endblock %}
