{% extends 'base.html.twig' %}

{% block title %}A propos - Medimancie{% endblock %}

{% block head %}
    <meta name="description" content="Découvrez l’histoire inspirante de notre fondatrice, la medimancienne,
                                    et comment elle a créé sa méthode unique de méditation laïque associée à la cartomancie.
                                    Apprenez-en plus sur notre mission, nos valeurs et notre engagement envers la bienveillance
                                    et la laïcité dans la pratique de la medimancie.">
    <meta property="og:title" content="A propos de la Medimancienne - Découvrez l'histoire et la méthode unique de notre fondadrice">
    <meta property="og:description" content="Découvrez l’histoire inspirante de notre fondatrice,
                                    la medimancienne, et comment elle a créé sa méthode unique de méditation laïque associée à la cartomancie.
                                    Apprenez-en plus sur notre mission, nos valeurs et notre engagement envers la bienveillance et la laïcité 
                                    dans la pratique de la médimancie.">
    <meta name="keywords" content="Présentation, histoire, valeur, missions, visions, objectifs ">

{% endblock %}

{% block body %}


<main>
        <!-- En Tête profil -->
        <Div class="profil_1">
           <a href="{{ path('app_seance' )}}"><img src="{{ asset('/assets/img/Logo photo profil.jpg ')}}" alt="Logo photo de profil de Medimancie"></i></a>
        </Div>
        <div class="titre_aproposdemoi">
            <h1>A propos de moi...</h1>
        </div>

        <!-- QUESTION 1   PROBLEME AVEC LA PHOTO ?????-->
        <div class="container_q1">
        <div class="photo_titre_questcequi_q1">
            <a href=""><img src="{{ asset('/assets/img/questionapropos.jpg ')}}" class="photoqu_estcequi" alt="Photo titre : Qu'est-ce qui m'a décidé à créer Medimancie ?"></a>
        </div>
        <div class="reponse_question_1">
            <P>
                Avant de me lancer sur les réseaux sociaux, je savais au fond 
                de moi que c’étais mon chemin, Depuis 2006, lors d’un 
                voyage en Chine je su que j’avais ce don du tirage du Y King 
                avec les tiges d’achillée mais après quelques tirage pour mes
                proches ce don m’a fait peur je crois et je l’ai tue. <br>
                Puis lors de sa sortir j’ai acheté ce jeu de l’Oracle du Tao 
                par curiosité. 
                Au début je n’espérais pas que cela soit sérieux, c’était
                mignon à mes yeux. Mais à travers une série de tirages,
                de moments extraordinaires de compréhension, 
                j’ai "compris" que ce jeu de carte avait vraiment été inspiré
                du Y King. L’illustratrice de ce jeu, Ma Deva Padma avait
                fait un travail remarquable en rendant moderne l’Oracle
                du livre des transformations , le Y King. <br>
                <br>
                Puis j’ai passé plusieurs années à m’intéresser à la 
                méditation et j’ai suivi quelques formations pour apprendre 
                la pratique laique et les bienfaits rapporté par les 
                scientifiques qui les étudient. Et c’est lors d’un grand 
                 chamboulement dans ma vie, quand j’ai consulté l’Oracle 
                 que l’activité de Medimancienne est devenu alors très claire
                 pour moi, que viscéralement je devais travailler pour réunir
                 mes deux pratiques la méditation et le tirage Y king.
            </P>
        </div>
        </div>


            <!-- QUESTION 2 -->

        <div class="container_q2">
        <div class="reponse_question_2">
                <p>
                    Les méditations et les tirages de carte déclenchent un 
                    voyage profond et intensément personnel dans notre 
                    subconscient. Je suis une rêveuse les questions existentiels 
                    ont toujours eu une place importante et avec du recul, je
                    peux voir que cette quête spirituel a été un fil conducteur 
                    tout au long de ma vie et ce long voyage aventureux 
                    et mouvementé est devenue Médimancie. <br>
                    <br>
                    Le projet Medimancie est un travail que je considère 
                    personnellement comme une source d’épanouissement, 
                    occuper mon temps à faire quelque chose de bien pour moi 
                    et pour les autres. <br>
                    <br>
                    Mon objectif est que pour de nombreuses personnes dans
                    le monde, mes tirages et mes méditations apportent quelque
                    chose de constructif, je fonctionne comme une amie sage 
                    et de confiance pour tous. <br>
                    Mon attention est de faire connaître la sagesse du Yi King 
                    d’une manière accessible, compréhensible et moderne aux 
                    gens et de promouvoir les bienfaits de la méditation.
                </p>
        </div>
    
        <div class="photo_titre_monprojet_q2">
                <a href=""><img src="{{ asset('/assets/img/Photo mon projet mon objectif.jpg')}} " 
                   class="photo_monprojet"  alt="Photo titre :Mon projet, mon objectif ?"></a>
        </div>
        </div>


            <!-- QUESTION 3 -->

        <div class="container_q3">
        <div class="photo_titre_pourquoireunir_q3">
            <a href=""><img src="{{ asset('/assets/img/Photo Pourquoi reunir m et y.jpg ')}}" 
                class="photopourquoi_reunir" alt="Photo titre :Pourquoi reunir la méditation et le Y King ?"></a>
         </div>
         <div class="reponse_question_3">
            <p>
                Quand on étudie le Yi King il résonne en nous quelque 
                chose, il nous faut méditer ce que le Yi King nous dit pour 
                pouvoir accéder à son rôle ancestral qui est un livre des 
                transformations. <br>
                Ce sont deux pratiques différentes qui fonctionnent très 
                bien ensemble, qui captives notre être profond créant des 
                éclaires de compréhension qui s’enfonce ensuite sous le 
                bavardage de notre esprit pour créer une conscience et une 
                perspicacité accrues. <br>
                <br>
                C’est essentiellement ainsi que cela facilite l’auto
                transformation. D’un côté, le jeu du Tao vous invite à allez 
                très loin dans le développement personnelle, le Yi King 
                guide la méditation avec les illustrations qui nous 
                permettent d’y accéder plus facilement et de l’autre coté la 
                méditation agit sur notre santé physique et moral, nous 
                transforme. <br>
                C’est à mon avis ensemble, que les deux pratiques forment 
                une cosmologie complète et qu’elles sont un puissant outil 
                de transformation. Elles créent une expérience d’intégrité,
                où la somme est supérieure aux parties chaque fois que la 
                méditation et le tirage est présenté ensemble. <br>
                Elles semblent se renforcer et s’améliorer mutuellement, 
                de cette façon la médimancie prend un sens concret. <br>
                <br>
                C’est le pourquoi de cette union, il faut prendre le temps
                nécessaire à une méditation quotidienne de quelques minutes. 
                C’est mon approche pour ne pas manquer en allant trop vite 
                la riche expérience de la vie, en ralentissant lors d’une courte 
                pause, en étant avec tout ce qui est, l’interdépendance des choses 
                et des évènements, alors la 
                compréhension et la manière de procéder deviennent  claires.
            </p>
         </div>
        </div>

         <!-- QUESTION 4 -->

         <div class="container_q4">
         <div class="reponse_question_4">
            <p>
                Quelle est votre carte préférée de l’Oracle du Tao ? 
                J’ai des préférences mais chacune d’entre elles ont une 
                utilité propre pour servir notre bien-être. On doit 
                apprendre à toutes les méditer. <br>
                <br>
                Le style de peinture utilisé pour chaque carte du Yi King
                est très inspirant pour entrer en méditation. La signification
                et la compréhension des hexagrammes 
                sont bien exprimées et il est plaisant de ce laisser captiver 
                par l’image du tirage lors de notre méditation car ce n’est
                qu’après un examen plus approfondi de la peinture que des 
                significations subtile du tirage peut nous être révélé. <br>
                <br>
                On ressent aisément ce que nous dit l’artiste Ma Deva 
                Padma qui à peint les illustrations qu’elle à fait un travail 
                remarquable d’introspection, de détachement et de 
                persévérance pour les réaliser en pleine méditation.
            </p>
         </div>
         <div class="photo_titre_macartepreferee_q4">
            <a href=""><img src="{{ asset('/assets/img/Photo Ma carte préférée.jpg ')}}" 
               class="photomacarte_preferee" alt="Photo titre :Ma carte préférée ?"></a>
         </div>
        </div>
         






        
    
    <div class="fleche">
     <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
    </div>
    </main>





{% endblock %}
