{% extends 'base.html.twig' %}


{% block title %}Mancie - Medimancie{% endblock %}

{% block head %}
    <meta name="description" content="Découvrez l’univers de la mancie et comment elle peut vous aider à mieux vous connaître. 
                                Notre méthode de tirage bienveillant vous permettra de mieux comprendre votre chemin de vie.">
    <meta property="og:title" content="Mancie - Medimancie">
    <meta property="og:description" content="Découvrez l’univers de la mancie et comment elle peut vous aider à mieux vous connaître. 
                                Notre méthode de tirage bienveillant vous permettra de mieux comprendre votre chemin de vie.">
    <meta name="keywords" content="Tirage de carte, esotérisme, oracle, voyance, divination">
{% endblock %}




{% block body %}


   <main>
        <div class="titre_mancie_demedimancie">
            <h1 class="lamancie">La Mancie de Medimancie ? C'est...</h1>
         </div>

         <Div class="profil_2">
           <a href="{{ path('app_seance') }}"><img src="{{ asset('/assets/img/Logo photo profil.jpg ')}}" alt="Logo photo de profil de Medimancie"></i></a>
                </Div>
                
          <section class="article_mancie">
            <h2 class="titres_mancie_bleu">
                L'art divinatoire chez Medimancie ?
            </h2>
                <p>
                    Cathy pratique l'art divinatoire obtenue principalment par la consultation de l'oracle Yi King ou <br>
                    autrement nommé I Ching en utilisant soit les antiques méthodes pieces ou tiges d'achillée ou avec <br>
                    le jeu de carte plus moderne de l'oracle du Tao. Elle utilise également d’autres oracle comme le
                    Tarot, l’Oracle Astral manga etc. en complément.
                    

                </p>
            <h2 class="titres_mancie_bleu">
                Qu'est-ce que le Yi King ?
            </h2>
                <p>
                    C'est un livre oracle, vous pouvez faire appel à son aide pour toutes vos questions. <br>
                    Problèmes relationnels de toutes sortes, moyens d'atteindre vos objectifs personnels, résultats <br>
                    de  différents choix pour une décision clés.
                    Il nous enracine dans la réalité présente vous encourage à grandir et nourrit votre connaissance <br>
                    de soi. Lorsque les choses ne fonctionnent pas cela vous ouvre un espace pour sortir du trajet,<br>
                    sortir de l'ornière et choisir votre propre direction. Et surtout, c'est un canal ouvert et fluide <br>
                    pour la vérité. <br>
                    <br> Ci dessous le livre des transformation nommé Yi King utilisé lors des séances.<br>
                </p>
             <a href=""><img src="img/Livre Yi King.jpg" alt="le livre du Yi King"></a>   
            <h2 class="titres_mancie_bleu">
                Que nous apprend l'Oracle du Tao ?
            </h2>
                <p>
                    L’oracle du Tao est un jeu de carte divinatoire, c’est une nouvelle expression de la sagesse <br>
                    intemporelle du Y King. Il nous rappelle que les lois qui régissent le monde naturel s’appliquent <br>
                    à nous tous. L’oracle du Tao travaille à l’appui de la méditation et de la conscience de soi. <br>
                    <br>
                    L’oracle du Tao se compose de 64 cartes et d’un livre de 320 pages conçu pour fonctionner <br>
                    en tandem avec les traditions séculaires du Y King et du Tarot.
                </p>
                <a href=""><img src="img/Jeu de carte Oracle Tao.jpg" alt=" l'oracle du Tao"></a>
            <h2 class="titres_mancie_orange">
                Quand on débute ?
            </h2>
                <p>
                    Il y a deux manière de voir le Yi King soit on veut en savoir plus, soit on apprend à l’utiliser. <br>
                    Pour l’un on est fasciné par ce livre et on veux tout savoir à son sujet. Pour l’autre on a besoin <br>
                    d’aide et on pense qu’il peut nous aider donc on apprends tout ce que l’on à besoin de savoir <br>
                    pour obtenir de l’aide du Yi King. En fin de compte on se rend compte qu’il n’est pas possible <br>
                    de faire l’un sans l’autre. Ensuite vient la méditation.
                </p>

                <!-- LIEN VERS MEDITATION A FAIRE ! -->
                <a href="{{ path('app_medi') }}" class="lien_lameditation_chezmedimancie">Lien vers La meditation chez Medimancie</a>

            <h2 class="titres_mancie_orange">
                Vous n'êtes pas débutant ?
            </h2>
                <p>
                    Bienvenue, je suis contente que vous soyez venu. Medimancie est là pour vous aider à approfondir, <br>
                    explorer et apprécier votre relation avec cette pratique… tu pourrais aimer. <br>
                    L’espace membre et pour que vous puissiez faire connaissance avec des passionnés de medimancie, <br>
                    partageant les même idées et que nous puissions rester en contact. <br>
                    <br>
                    Rejoignez Medimancie, contactez-moi en vous inscrivant sur l’espace membre. 
                </p>
                <!-- LIEN VERS MEDITATION A FAIRE ! -->
                <a href="#contact" class="lien_contact">Lien vers contact</a>
            
           
            
            <h2 class="titres_mancie_orange">
                Pourquoi j'utilise ce jeu de carte ?  

            </h2>
            <P>
                "Je possède plusieurs jeux de cartes mais celui-ci est de loin celui que j’apprécie. Les illustrations <br>
                sont extraordinaires et les informations magnifiquement et clairement écrites. Nous sommes sans <br>
                voix par la pertinence de l’explication à chaque tirage, on est laissé face à ce que nous avons le plus <br>
                besoin de savoir et ambitieux à traverser. <br>
                Je recommande fortement ce deck à tout le monde, c’est un super allier de l’ancien Y King. <br>
                Praticienne en divination et en méditation c’est pour moi un outil de conscience de soi incroyable, <br>
                beau, bien conçu et à un prix raisonnable. " Cathy <br>
                <br>
                <a href="{{ path('app_seance') }}#les_oracles_utilisés">Vous souhaitez achetez l’Oracle du Tao et le Livre du Yi King ?</a>
                 
            </P>
                <!-- LIEN VERS SEANCES PARTIE TARIFICATION POUR OFFRE Y KING ET ORACLE TAO A FAIRE ! -->
                <a href="{{ path('app_seance') }}" class="lien_offres">Lien vers séances</a>
            

          </section>      



        
   
   


    <!-- LIEN VERS SEANCES  -->
    <a href="{{ path('app_contact') }}#les_séances_en_details" class="lien_les_seances_endetail"> Voir les séances en détail directement ?</a>





   
    <div class="fleche">
     <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
    </div>
    </main>




{% endblock %}
